@charset "UTF-8";

form {
	
<<<<<<< HEAD
	background-color: rgba(223,223,223,0.66);
	width: 70%;
	height: auto;
	margin: 150px auto 50px auto;
	padding: 15px 30px 15px 20px;
=======
	background-color: #DFDFDF;
	width: 50%;
	margin: 150px auto 50px auto;
	padding: 15px 20px;
>>>>>>> febec6b1188490cb94be5b2d1ea7dfae085e16e1
	
}

form input {
	
	font-family: Arial;
	font-size: 10pt;
	padding: 10px;
	margin: 0px 0px 15px 0px;
	
}

form label {
	
	display: block;
	padding: 1px;
	
}

form label#selec {
	
	display: inline;
	padding: 3px 0px 0px 5px;
	
}

form input[type=text], input[type=email] {
	
	width: 97%;
	
}

form input[type=submit] {
	
	width: 100.3%;
	
}

form input [type=number] {
	
	display: inline-block;
	
}

form textarea {
	
	padding: 3px 0px 0px 5px;
	width: 99.5%;
	margin: 0px 0px 20px 0px;
	font-family: Arial;
	
}

div#opt {
	
	background: url(img/logo.png);
	margin: 0px 5px 0px 10px;
	padding: 5px 0px 5px 0px;
	
}

img#formu {
	
	position: float;
	left: 50%;
	
}

div#tel {
	
	display: inline;
	
}