@charset "UTF-8";

html {
	position: relative;
    min-height: 100%;
}

body {
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-color: #FFFFFF;
	font-family: arial;
	margin: 0;
}

header {
	width: 100%;
	background-color: #9abf3c;
	box-shadow: 1px 1px 10px 1px black;
	position: fixed;
	top: 0;
	z-index: 2;
}

a {
	text-decoration: none;
}

footer {
    width: 100%; 
    height: 80px; 
	background-color: #383838;
	color: white;
	display: flex;
	position: absolute;
}

h2.reference {
	position: relative;
	line-height: 50%;
	display: inline;
}

.main_nav {
	display: flex;
	position: relative;
}

.left_nav {
	display: flex;
}

.right_nav {
	position: absolute;
	right: 20px;
	bottom: 0;
	height: 50%;
}

.link {
	color: #ffffff;
	-webkit-transition: color 0.25s; /* For Safari 3.1 to 6.0 */
    transition: color 0.25s;
}

.link:hover {
	color: #20831e;
	text-decoration: none;
}

.reference {
	margin: 0 5px;
	text-align: center;
	color: white;
}

.main_section {
	height: calc( 100vh - 104px);
	width: 100%;
	margin-top: 104px;
	background-image: url("../img/city_loop.gif");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	/* background-attachment: fixed; */
	display: flex;
}

.left_side {
	width: 50%;
	/* right: 55%; */
	position: relative;
}

.right_side {
	width: 50%;
	/* left: 50%; */
	position: relative;
}

.text_container {
	background-color: rgba(255,255,255,0.70);
    /* margin: auto auto auto auto; */
    /* height: 1000px; */

}

.action_call {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto auto auto 100px; 
	width: fit-content;
	height: fit-content;
	color: white;
}

.heading {
	font-size: 60px;
	margin: 0;
	text-shadow: 3px 3px #383838;
}

.subheading {
	font-size: 22px;
	margin: 10px 0;
	text-shadow: 2px 2px #383838;
}

.action_button {
	margin: 20px 0 35px 0;
    font-size: 26px;
    padding: 15px 30px;
    border-radius: 5px;
    border: 0;
    color: #ffffff;
    background: rgba(8,20,40,1);
	background: -moz-linear-gradient(45deg, rgba(8,20,40,1) 0%, rgba(16,35,66,1) 14%, rgba(11,34,71,1) 32%, rgba(11,54,122,1) 56%, rgba(11,89,207,1) 100%);
	background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(8,20,40,1)), color-stop(14%, rgba(16,35,66,1)), color-stop(32%, rgba(11,34,71,1)), color-stop(56%, rgba(11,54,122,1)), color-stop(100%, rgba(11,89,207,1)));
	background: -webkit-linear-gradient(45deg, rgba(8,20,40,1) 0%, rgba(16,35,66,1) 14%, rgba(11,34,71,1) 32%, rgba(11,54,122,1) 56%, rgba(11,89,207,1) 100%);
	background: -o-linear-gradient(45deg, rgba(8,20,40,1) 0%, rgba(16,35,66,1) 14%, rgba(11,34,71,1) 32%, rgba(11,54,122,1) 56%, rgba(11,89,207,1) 100%);
	background: -ms-linear-gradient(45deg, rgba(8,20,40,1) 0%, rgba(16,35,66,1) 14%, rgba(11,34,71,1) 32%, rgba(11,54,122,1) 56%, rgba(11,89,207,1) 100%);
	background: linear-gradient(45deg, rgba(8,20,40,1) 0%, rgba(16,35,66,1) 14%, rgba(11,34,71,1) 32%, rgba(11,54,122,1) 56%, rgba(11,89,207,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#081428', endColorstr='#0b59cf', GradientType=1 );
	-webkit-box-shadow: 11px 11px 18px -2px rgba(0,0,0,0.75);
	-moz-box-shadow: 11px 11px 18px -2px rgba(0,0,0,0.75);
	box-shadow: 11px 11px 18px -2px rgba(0,0,0,0.75);
}

.advantages_sec {
	display: flex;
	min-height: calc( 100vh - 104px);
}

.advantages {
	width: 33.33%;
    padding: 5%;
    height: fit-content;
    margin: auto 0;
}

.advantages img,
.advantages h3 {
	width: 100%;
	text-align: center;
	border-radius: 5px;
}

.differentials_page {
	margin-top: 150px;
}

.differentials_title {
	width: 100%;
	text-align: center;
}

.differentials,
.differentials2 {
	padding: 5% 5% 0 5%;
	display: flex;
}

.differentials img {
	width: 45%;
    margin-left: 5%;
    height: 100%;
}

.differentials2 img {
	width: 45%;
    margin-right: 5%;
    height: 100%;
}

.inside_text {
	padding: 5%;
	text-align: justify;
}

.last_one {
	margin-bottom: 5%;
}

.left_footer {
	
	width: 25%;
	line-height: 2;
	text-align: center;
	font-size: 12px;
	
}

.text_lf {
	color: rgba(84,183,224,1.00);
}

.left_center {
	width: 25%;
	line-height: 2;
	text-align: center;
	font-size: 12px;
}
.text_lc {
	color: rgba(84,183,224,1.00);
}

.right_center {
	
	width: 25%;
	line-height: 5;
	text-align: right;
	
}

.right_footer {
	width: 25%;
	line-height: 5;
}

.social_media .facebook {
	height: 56px;
    width: 56px;
    margin-bottom: -4px;
}

.social_media {
	position: fixed;
    bottom: -18px;
    left: 76%;
}

.social_media img {
	height: 50px;
	width: 50px;
}

.team_descp {
	
	display: flex;
	min-height: calc( 100vh - 104px);
	
}

.team_div {
	
	
}

.team_circle {
	
	width: 33.33%;
    padding: 5%;
    height: fit-content;
    margin: 2em 0px 0px 0px;
	
}

.team_circle h2 {
	
	width: 100%;
	text-align: center;
	border-radius: 5px;
	
}

.team_circle img {
	
	width: 200px;
	height: 200px;
	text-align: center;
	border-radius: 100em;
	
}

.team_title {
	
	margin: 1em 0 0 0;
	font-family: Arial;
	font-size: 50px;
	
}

#logo img {
	height: 140px;
    width: 130px;
    margin-left: 20px;
    margin-top: -15px;
    margin-bottom: -25px;
}

#main_form input,
#main_form label {
	width: 80%;
	margin: 0 10% 30px 10%;
	font-size: 20px;
    height: 30px;
}