@charset "UTF-8";

html {
	position: relative;
    min-height: 100%;
}

body {
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-color: #FFFFFF;
	font-family: 'Roboto', sans-serif;
	margin: 0;
}

header {
	width: 100%;
	background-color: #9abf3c;
	box-shadow: 1px 1px 10px 1px black;
	position: fixed;
	top: 0;
	z-index: 2;
}

a {
	text-decoration: none;
}

footer {
    width: 100%; 
    height: 80px; 
	background-color: #383838;
	color: white;
	display: flex;
	position: absolute;
}

h2.reference {
	position: relative;
	line-height: 50%;
	display: inline;
}

.main_nav {
	display: flex;
	position: relative;
}

.left_nav {
	display: flex;
}

.right_nav {
	position: absolute;
	right: 20px;
	bottom: 0;
	height: 50%;
}

.link {
	color: #ffffff;
    transition: color 0.25s;
}

.link:hover {
	color: #20831e;
	text-decoration: none;
}

.reference {
	margin: 0 5px;
	text-align: center;
	color: white;
}

.main_section {
	height: calc( 100vh - 104px);
	width: 100%;
	margin-top: 104px;
	background-image: url("../img/city_loop.gif");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	display: flex;
}

.left_side {
	width: 50%;
	position: relative;
}

.right_side {
	width: 50%;
	position: relative;
}

.text_container {
	background-color: rgba(255,255,255,0.70);
}

.action_call {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto auto auto 100px; 
	width: fit-content;
	height: fit-content;
	color: white;
}

.heading {
	font-size: 60px;
	margin: 0;
	text-shadow: 3px 3px #383838;
}

.subheading {
	font-size: 22px;
	margin: 10px 0;
	text-shadow: 2px 2px #383838;
}

.action_button {
	margin: 20px 0 35px 0;
    font-size: 26px;
    padding: 15px 30px;
    border-radius: 5px;
    border: 0;
    color: #ffffff;
    background: rgba(8,20,40,1);
	background: -moz-linear-gradient(45deg, rgba(8,20,40,1) 0%, rgba(16,35,66,1) 14%, rgba(11,34,71,1) 32%, rgba(11,54,122,1) 56%, rgba(11,89,207,1) 100%);
	background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(8,20,40,1)), color-stop(14%, rgba(16,35,66,1)), color-stop(32%, rgba(11,34,71,1)), color-stop(56%, rgba(11,54,122,1)), color-stop(100%, rgba(11,89,207,1)));
	background: -webkit-linear-gradient(45deg, rgba(8,20,40,1) 0%, rgba(16,35,66,1) 14%, rgba(11,34,71,1) 32%, rgba(11,54,122,1) 56%, rgba(11,89,207,1) 100%);
	background: -o-linear-gradient(45deg, rgba(8,20,40,1) 0%, rgba(16,35,66,1) 14%, rgba(11,34,71,1) 32%, rgba(11,54,122,1) 56%, rgba(11,89,207,1) 100%);
	background: -ms-linear-gradient(45deg, rgba(8,20,40,1) 0%, rgba(16,35,66,1) 14%, rgba(11,34,71,1) 32%, rgba(11,54,122,1) 56%, rgba(11,89,207,1) 100%);
	background: linear-gradient(45deg, rgba(8,20,40,1) 0%, rgba(16,35,66,1) 14%, rgba(11,34,71,1) 32%, rgba(11,54,122,1) 56%, rgba(11,89,207,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#081428', endColorstr='#0b59cf', GradientType=1 );
	-webkit-box-shadow: 11px 11px 18px -2px rgba(0,0,0,0.75);
	-moz-box-shadow: 11px 11px 18px -2px rgba(0,0,0,0.75);
	box-shadow: 11px 11px 18px -2px rgba(0,0,0,0.75);
	cursor: pointer;
}

.advantages_sec {
	display: flex;
	min-height: calc( 100vh - 104px);
}

.advantages {
	width: 33.33%;
    padding: 5%;
    height: fit-content;
    margin: 0;
	margin-top: 30px;
	color: #353535;
}

.advantages p {
	text-align: justify;
}

.advantages img, .advantages h3 {
	width: 100%;
	text-align: center;
	border-radius: 5px;
}

.advantages img {
	border: 2px solid #353535;
}

.differentials_page {
	margin-top: 150px;
}

.differentials_title {
	width: 100%;
    text-align: center;
    font-size: 50px;
    margin-bottom: 0;
    color: #353535;
}

.differentials, .differentials2 {
	padding: 5% 5% 0 5%;
	display: flex;
}

.differentials img {
	width: 42%;
    margin-left: 5%;
    height: 100%;
    border-radius: 5px;
    border: 2px solid #4a7238;
}

.differentials2 img {
	width: 42%;
    margin-right: 5%;
    height: 100%;
    border-radius: 5px;
    border: 2px solid #4a7238;
}

.inside_text {
	padding: 0 5% 5% 5%;
	color: #353535;
}

.inside_text h3 {
	margin-top: 0;
}

.inside_text p {
	text-align: justify;
}

.last_one {
	margin-bottom: 5%;
}

.download img {
	height: 80%;
	margin: 10%;
	cursor: pointer;
}

.left_footer {
	width: 25%;
	line-height: 2;
	text-align: center;
	font-size: 12px;
}

.text_lf {
	color: rgba(84,183,224,1.00);
}

.left_center {
	width: 25%;
	line-height: 2;
	text-align: center;
	font-size: 12px;
}

.text_lc {
	color: rgba(84,183,224,1.00);
}

.right_center {
	width: 25%;
	line-height: 5;
	text-align: right;
}

.right_footer {
	width: 25%;
	line-height: 5;
}

.social_media {
	position: fixed;
    bottom: -18px;
    left: 76%;
}

.social_media img {
	height: 50px;
	width: 50px;
}

.team_descp {
	display: flex;
	min-height: calc( 81vh - 104px);
}

.team_circle {	
	width: 33.33%;
    padding: 5%;
    height: fit-content;
    margin: 2em 0px 0px 0px;
}

.team_circle h2 {
	width: 100%;
	text-align: center;
	border-radius: 5px;
}

.team_circle img {
	width: 200px;
	height: 200px;
	text-align: center;
	border-radius: 100em;
}

.team_title {
	margin: 1em 0 0 0;
	font-family: Arial;
	font-size: 50px;
}

.contato_space {
	height: calc( 100vh - 104px);
	display: flex;
}

#logo img {
	height: 140px;
    width: 130px;
    margin-left: 20px;
    margin-top: -15px;
    margin-bottom: -25px;
}

#main_form input,
#main_form label {
	width: 80%;
	margin: 0 10% 30px 10%;
	font-size: 20px;
    height: 30px;
}

.contato_space {
	display: flex;
	min-height: calc( 81vh - 104px);
}

.formulario {
	width: 100%;
	margin-top: -50px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	display: flex;
}

.team_descp {
	display: flex;
	min-height: calc( 81vh - 104px);
}

.team_circle {
	width: 33.33%;
    padding: 5%;
    height: fit-content;
    margin: 2em 0px 0px 0px;
}

.team_circle h2 {
	width: 100%;
	text-align: center;
	border-radius: 5px;
}

.team_circle img {
	width: 200px;
	height: 200px;
	text-align: center;
	border-radius: 100em;
}

.team_title {
	margin: 1em 0 0 0;
	font-family: Arial;
	font-size: 50px;
}

.branco {
	display: flex;
	min-height: calc( 103vh - 100px);
	background-color: #FFF;
}

.branco_1 {
	display: flex;
	min-height: calc( 80vh - 100px);
	background-color: #FFF;
}

.sobre {
	margin: 10px 100px 10px 100px;
	padding: 10px 10px 10px 10px;
}

.quem_somos {
	font-size: 22px;
	text-align: justify;
}

.top_sec {
	display: flex;
	min-height: calc( 40vh - 100px);
	background-color: #383838;
}

.top_sec1 {
	display: flex;
	min-height: calc( 35vh - 100px);
	background-color: #383838;
}

.back_sec {
	display: flex;
	min-height: calc( 10vh - 100px);
	background-color: #383838;
}

.branco_2 h2 {
	margin: 20px 0px -10px 40%;	
}
.formulario {
	width: 100%;
	margin-top: -150px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	display: flex;	
}

.branco2 {
	display: flex;
	min-height: calc( 35vh - 200px);
	background-color: #FFF;
}

.top_sec1 h2 {
	color: #fff;
	margin: 50px 0px -10px 30%;
	font-size: 30px;
}

.top_sec h2 {
	font-size: 30px;
}

.contato_map {
	width: 100%;
}

.contato_map img {
	margin: 0 10%;
}

.sec_map {
	display: flex;
	min-height: calc( 100vh - 104px);
	background-color: #383838;
}

.formulario form {
	background-color: #84B17F;
}